__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
*.egg-info/
.installed.cfg
*.egg

db.sqlite3
db.sqlite3-journal
/staticfiles/
/staticfiles_build/
/media/

.env
.vercel
.vercelignore

.DS_Store
